<h2 class="extended-info__title">{{Country}}</h2>
<ul class="extended-info__list">
    <li class="extended-info__text">Total cases: <span class="extended-info__text--accent">{{TotalConfirmed}}</span>
    </li>
    <li class="extended-info__text">Total deaths: <span class="extended-info__text--accent">{{TotalDeaths}}</span></li>
    <li class="extended-info__text">Total recovered: <span class="extended-info__text--accent">{{TotalRecovered}}</span>
    </li>
    <li class="extended-info__text">New cases: <span class="extended-info__text--accent">{{NewConfirmed}}</span></li>
    <li class="extended-info__text">New deaths: <span class="extended-info__text--accent">{{NewDeaths}}</span></li>
    <li class="extended-info__text">New recovered: <span class="extended-info__text--accent">{{NewRecovered}}</span>
    </li>
</ul>